
@font-face {
  font-family: 'Tracion';
  src: url('../fonts/Tracion-Normal.ttf');
}
@font-face {
  font-family: 'ChunkFive';
  src: url('../fonts/ChunkFive.otf');
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.navbar .container-fluid{
    background-color: #CC071E;
}
/* .nav a {
    color: #FFFFFF;
} */


@font-face {
  font-family: 'Tracion';
  src: url('../fonts/Tracion-Normal.ttf');
}
.navbar-header a {
    color: #FFFFFF;
    text-decoration: none;
    font-family: "Tracion";
    font-size: 35px;

}

.navbar-header a:hover {
    color: #D3D3D3;
    text-decoration: none;
}



.background {
    color: rgba(181,10,30,0.5);
}

.bg {
    background: url('../images/frontpage.jpg') no-repeat center center;
    position: fixed;
    width: 100%;
    height: 500px; /*same height as jumbotron */
    top:0;
    left:0;
    z-index: -1;
}

.jumbotron {
    margin-bottom: 0px;
    height: 500px;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    background:transparent;
}



.jumbotron #dumb {
    font-family: Anton;
    color: #A6A6A9;
}

.jumbotron #awk {
    color:#3074D8;
}

.jumbotron h1 {
    float: right;
    font-size: 35px;
    color : white;
}

/* .jumbotron p {
    text-align: right;
    font-size: 15px;
    color : white;
} */

/* .btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
 

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.btn-primary {
    background: #0099cc;
    color: #ffffff;
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}
 
.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}

.btn-primary.raised {
    box-shadow: 0 3px 0 0 #007299;
}

.btn-primary.raised:active, .btn-primary.raised.active {
    background: #33a6cc;
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
}

 */

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.btn-primary {
    background: #0099cc;
    color: #ffffff;
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}
 
.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}


.btn.outline {
    background: none;
    padding: 12px 22px;
}

.btn-primary.outline {
    border: 2px solid #ffffff;
    color: #ffffff;
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #D3D3D3;
    border-color: #D3D3D3;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #007299;
    color: #007299;
    box-shadow: none;
}
.btn-primary .outline a{
    color: #ffffff;
}

.nav .btn a {
    text-decoration: none;
    color: inherit;
}

}

.iframe {
    margin: auto;
}

/* To move calendar out of the way of NavBar */
.calendar {
    margin-top: 55px;
}


.page-header {
    margin-top: 100px;
    margin-left: 50px;
}
.first-media {
    margin-top: 25px;
}

.media-left {

}
.media-object {
    height: 100px;
    width: 100px;
    margin-left: 50px;
}


.btn-modal {
    margin-top: 100px;
    float:right;
}

.modal-sm {
    width:500px;
}


/* formatting board member page */
.thumbnail{
    width: 250px;
    height: 400px;
    overflow: auto;
}

.thumbnail img{
    width:200px;
    height:200px;
    
}

.board-page {
    margin-top: 100px;
}

.board-page span {
    font-family: 'Black Ops One', cursive;
    color: red;
}

.board-page h3 {
    font-size:16px;
}
.board-page p{
    font-size:12px;
}
.board-page h2 {
    font-family: 'Tracion', sans-serif;
    color: red;
    
    border: 1px solid gray;
}

.board-page .info-field div {
    border:1px solid black;
}
.board-page .media-object{
    display:inline-block;
    float:left;
}
.board-page .panel {
    height:300px;
    background: rgba(150,150,150,0.6);
}
.board-page .board-r{
    float:right;
    border-radius: 0 0 0 50px;
}
.board-page .board-l{
    border-radius: 0 0 50px 0;
}
.board-r .media-body{
    text-align:right;
}


.board-page .back {
    position:fixed;
    height:300px;
    color: #a6a6a6;
    opacity:0.6;
}






.fblink {
    clear:left;

}

.offset-top {
    margin-top: 75px;
}
.center {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.about p {
    font-size: 20px;
}

.carousel-inner > .item > img {
    margin: 0 auto;
    height:250px;
    width:1200px;
}

.bp-pic {
    margin-left:auto;
    margin-right:auto;
    width:100%;
    max-width:900px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}