{% extends "website/base.html" %}
{% block style %}
{% endblock%}

{% block content %}



    {% if member_list %}
        
        <div class="row board-page">
        {% for member_l,member_r in member_list %}
            <div class="panel panel-default col-md-9 board-l">
                <div class="panel-body">
                    <div class="media">
                        <div class="media-left">
                            <img class="media-object" src="..." alt="...">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">{{ member_l.member_fname }} <span>"{{ member_l.member_nName }}"</span> {{ member_l.member_lname }} </h3>
                            <p>Year: {{ member_l.year }}</p>
                            <p>Areas of Study: {{ member_l.major_minor }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default col-md-9 board-r">
                <div class="panel-body">
                    <div class="media" style="margin-right: 50px">
                        <div class="media-body">
                            <h3 class="media-heading">{{ member_r.member_fname }} <span>"{{ member_r.member_nName }}"</span> {{ member_r.member_lname }} </h3>
                            <p>Year: {{ member_r.year }}</p>
                            <p>Areas of Study: {{ member_r.major_minor }}</p>
                        </div>
                        <div class="media-right">
                            <img class="media-object" src="..." alt="...">
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>            
        
    {% else %}
        <p>No members.</p>
    {% endif %}


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ STATIC_URL }}js/script.js"></script>

{% endblock %}