{% extends "website/base.html" %}
{% block content %}



    {% if member_list %}
        
        <div class="row board-page">
        {% for member in member_list %}
          <div class="col-sm-6 col-md-2">
            <div class="thumbnail">
              <img src="#" class="propic">
              <!-- <img src="{{ member.pro_img }}" class="propic"> -->
              <div class="caption">
                <h3>{{ member.member_fname }} <span>"{{ member.member_nName }}"</span> {{ member.member_lname }} </h3>
                
                <p>Year: {{ member.year }}</p>
                <p>Areas of Study: {{ member.major_minor }}</p>

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{ member.fname }}{{ member.lname }}Modal">About</button>

                    <div class="modal fade bs-example-modal-lg modal-{{ member.fname }}{{ member.lname }}" tabindex="-1" role="dialog" aria-labelledby="{{ member.fname }}{{ member.lname }}label" aria-hidden="true" id="{{ member.fname }}{{ member.lname }}Modal">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                          <div class="info-field"><h2>Why ASA?</h2>lalalallallalalalasldlasdlasdkjsdfhalkjsdhflakjsdhflkajsflakjsdhflkajsdhflkajsdhflkajsdfhlkjasdfhlkajsdfhlkajsdfhlkajsdf</div>
                          <div class="info-field"><h2>Favorite Memory From ASA</h2></div>
                          <div class="info-field"><h2>Fun Fact</h2></div>
                          

                        </div>
                      </div>
                    </div>






              </div>
            </div>
          </div>
          {% endfor %}
        </div>            
        
    {% else %}
        <p>No members.</p>
    {% endif %}


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ STATIC_URL }}js/script.js"></script>

{% endblock %}