{% extends "website/base.html" %}
{% block content %}


    

     

  <iframe class="calendar" src="https://www.google.com/calendar/embed?src=b.h.lai13%40gmail.com&ctz=America/New_York" style="border: 0" width="1200" height="840" frameborder="0" scrolling="no"></iframe>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ STATIC_URL }}js/script.js"></script>

{% endblock %}