{% extends "website/base.html" %}
{% block content %}



  <div class="page-header">
  <h1> About ASA <small> Hello.</small></h1>
  </div>


  <div class="panel panel-default">
    <div class="panel-body">
      <div class="media first-media">
        <div class="media-left">
          <img class="media-object" src="https://scontent-ord.xx.fbcdn.net/hphotos-xpf1/v/l/t1.0-9/10983426_816045035127484_5236659296354753516_n.png?oh=4f73c288672ffa345ba0b226a92623ea&oe=557DECBB">
        </div>
        <div class="media-body">
          <h4 class="media-heading">ASA Lovin'</h4>
          <p>ASA is comprised of students interested in exploring Asian culture, joining discussion of race-related issues, and participating in different events throughout the school year, our organization is a fun way to get involved and meet new people. We welcome anyone who is interested in being a part of our family, so feel free to come out!</p>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="media first-media">
        <div class="media-left">
          <img class="media-object" src="https://scontent-ord.xx.fbcdn.net/hphotos-xpf1/v/l/t1.0-9/10983426_816045035127484_5236659296354753516_n.png?oh=4f73c288672ffa345ba0b226a92623ea&oe=557DECBB">
        </div>
        <div class="media-body">
          <h4 class="media-heading">Campus Involvement</h4>
          <p>ASA participates in a long list of campus events, including Culture Night, Relay For Life, Multicultural Late Night, 1000 Plus, Wavin’ Flags, Volleyball Tournament, ECAASU, Ski Trip, Valentine’s Day Date Auction, themed club parties, banquets, formals. We also organize our own social events such as BBQ, S’Mores Night, Half-Off Late Nights, snack breaks and study groups!</p>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="media first-media">
        <div class="media-left">
          <img class="media-object" src="https://scontent-ord.xx.fbcdn.net/hphotos-xpf1/v/l/t1.0-9/10983426_816045035127484_5236659296354753516_n.png?oh=4f73c288672ffa345ba0b226a92623ea&oe=557DECBB">
        </div>
        <div class="media-body">
          <h4 class="media-heading">ASA Booth</h4>
          <p>ASA is the current winner for booth: a competition to build the best two storey structure for CMU’s Spring Carnival, and one of our biggest activities of the year. All general body members, board members, and even alumni will come out and help build an amazing booth, which will hopefully win first place again! Through the times we spend together building our booth and organizing other events, ASA members develop close friendships that last a lifetime.</p>
        </div>
      </div>
    </div>
  </div>  








    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ STATIC_URL }}js/script.js"></script>
{% endblock %}