<!DOCTYPE html>

<html lang="en">
    <head>
        <title> AKPsi - Omega Psi: Alumni Portal </title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="ASA Website">
        <meta name="author" content="Brian Lai">
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/css/bootstrap.css">
        


    </head>
    <body role="document" data-spy="scroll" data-target="#myScrollspy">
        {% block content %}
        {% endblock %}
        

    </body>
</html>